################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KekszShop/.vs/KekszShop/FileContentIndex
/.vs
